VITE_SUPABASE_URL=https://lhbyqsxzkmkhvivdcvun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxoYnlxc3h6a21raHZpdmRjdnVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5Mzc1NDgsImV4cCI6MjA4OTUxMzU0OH0.bYK_o1Jk01ODEd1_imATiV2mHwo5linwMKihDq4kF6g
 